name: Build & deploy

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  BUTLER_CREDENTIALS: ${{ secrets.BUTLER_CREDENTIALS }}
  BUILD_NAME: ${{ secrets.BUILD_NAME }}

on:
  workflow_dispatch: {}
  push:
    tags:
      - "*.*.*"

jobs:
  testAndBuild:
    name: ${{ matrix.targetPlatform }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - ./
        unityVersion:
          - 2020.2.1f1
        targetPlatform:
          - StandaloneOSX
          - StandaloneWindows64
          - StandaloneLinux64
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Set RELEASE_VERSION
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Log RELEASE_VERSION
        run: echo RELEASE_VERSION -> ${{ env.RELEASE_VERSION }}

      - name: Patch manifest.json
        run: chmod +x ${{ matrix.projectPath }}Scripts/replace-manifest-github-url.sh && ${{ matrix.projectPath }}Scripts/replace-manifest-github-url.sh
        env:
          PRIVATE_TOKEN: ${{ secrets.PRIVATE_TOKEN }}

      - uses: actions/cache@v1.1.0
        with:
          path: ${{ matrix.projectPath }}/Library
          key: Library-${{ matrix.projectPath }}-${{ matrix.targetPlatform }}
          restore-keys: |
            Library-${{ matrix.projectPath }}-
            Library-

      - name: Activate Unity
        uses: webbertakken/unity-activate@v1.3

      # - uses: webbertakken/unity-test-runner@v2.0-alpha-1
      #   id: testRunner
      #   with:
      #     projectPath: ${{ matrix.projectPath }}
      #     unityVersion: ${{ matrix.unityVersion }}

      # - uses: actions/upload-artifact@v1
      #   with:
      #     name: Test results (all modes)
      #     path: ${{ steps.testRunner.outputs.artifactsPath }}

      - name: Free disk spacegit
        run: chmod +x ${{ matrix.projectPath }}Scripts/free-disk-space.sh && ${{ matrix.projectPath }}Scripts/free-disk-space.sh

      - uses: webbertakken/unity-builder@v2.0-alpha-6
        with:
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
          targetPlatform: ${{ matrix.targetPlatform }}
          buildName: ${{ env.BUILD_NAME }}
          buildMethod: UnityBuilderAction.Builder.BuildProject
          versioning: Custom
          version: ${{ env.RELEASE_VERSION }}

      - uses: actions/upload-artifact@v1
        with:
          name: Build
          path: build

      - name: Deploy (Windows)
        if: contains(env.RELEASE_VERSION, '.') && matrix.targetPlatform == 'StandaloneWindows64'
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ env.BUTLER_CREDENTIALS }}
          CHANNEL: windows
          ITCH_USER: ${{ secrets.BUTLER_USER }}
          ITCH_GAME: ${{ secrets.BUTLER_GAME }}
          PACKAGE: build/StandaloneWindows64
          VERSION: ${{ env.RELEASE_VERSION }}

      - name: Deploy (MacOS)
        if: contains(env.RELEASE_VERSION, '.') && matrix.targetPlatform == 'StandaloneOSX'
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ env.BUTLER_CREDENTIALS }}
          CHANNEL: mac
          ITCH_USER: ${{ secrets.BUTLER_USER }}
          ITCH_GAME: ${{ secrets.BUTLER_GAME }}
          PACKAGE: build/StandaloneOSX
          VERSION: ${{ env.RELEASE_VERSION }}

      - name: Deploy (Linux)
        if: contains(env.RELEASE_VERSION, '.') && matrix.targetPlatform == 'StandaloneLinux64'
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ env.BUTLER_CREDENTIALS }}
          CHANNEL: linux
          ITCH_USER: ${{ secrets.BUTLER_USER }}
          ITCH_GAME: ${{ secrets.BUTLER_GAME }}
          PACKAGE: build/StandaloneLinux64
          VERSION: ${{ env.RELEASE_VERSION }}

      - name: Deploy (WebGL)
        if: contains(env.RELEASE_VERSION, '.') && matrix.targetPlatform == 'WebGL'
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ env.BUTLER_CREDENTIALS }}
          CHANNEL: webgl
          ITCH_USER: ${{ secrets.BUTLER_USER }}
          ITCH_GAME: ${{ secrets.BUTLER_GAME }}
          PACKAGE: build/WebGL
          VERSION: ${{ env.RELEASE_VERSION }}
